<div class="container-fluid" *ngIf="!openFormCreateQuizz">
  <app-menu-bar></app-menu-bar>
  <button class="mt-2" type="button" mat-raised-button (click)="fileInput.click()">{{'quizz.Image' | translate}}
    <mat-icon matSuffix>file_upload</mat-icon>
  </button>
  <input hidden #fileInput type="file" accept="image/*"
  (change)="processFile(fileInput)">

  <img *ngIf="imageSrc" src="{{imageSrc}}" alt="" style="height: 300px; width:500px">

  <div class="d-flex justify-content-end mb-4">
    <button mat-raised-button color="success"
    (click)="createQuizz()"
    >Create Quizz</button>
  </div>
    <div class="row g-2 g-lg-3">
      <div class="col-12 col-md-6 col-xl-3">
        <mat-card class="cursor-pointer" role="button" matRipple>
          <img src="https://bn1304files.storage.live.com/y4mSh76RLmKqPmDzr1ieEUJdX-wYGHVb9Gc2Ejo4NkE2w6uLndwyppjSObAUKqU7e4eFERQqHlCeTnFLoE_F8Shlua6jt0tEi8Z3xCR1WUsqSiv9X_CXOGZsPMfEzwAngATG0DnrC2fa7MCw1mdYFT3631Qf_6H9pXQlATZ7azT_VLoi39NtWaQ2LRZgItXAN2wCR8niPuyFLeA_Ze83j79rA?width=800&height=450&cropmode=none" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nhập môn lập trình C++</h5>
            <mat-card-content>
              <mat-card-subtitle>
                <strong>Exam Time: </strong>
                <small class="text-muted">3 mins</small>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <strong>Created by: </strong>
                <small class="text-muted">Truong</small>
              </mat-card-subtitle>

              <mat-card-subtitle class="d-flex align-items-center">
                <span>
                  <strong>Public: </strong>
                </span>
                <span class="ms-1">
                <i class="fs-20px text-success fa-solid fa-check"></i>
                  <!-- <i class="fs-20px text-danger fa-solid fa-xmark"></i> -->
                </span>
              </mat-card-subtitle>
            </mat-card-content>
            <mat-chip-list aria-label="Dog selection">
              <mat-chip color="primary" selected>
                Programing
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-card>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <mat-card class="cursor-pointer" role="button" matRipple>
            <img src="https://files.fullstack.edu.vn/f8-prod/courses/7.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nhập môn lập trình C++</h5>
              <mat-card-content>
                <mat-card-subtitle>
                  <strong>Exam Time: </strong>
                  <small class="text-muted">3 mins</small>
                </mat-card-subtitle>

                <mat-card-subtitle>
                  <strong>Created by: </strong>
                  <small class="text-muted">Truong</small>
                </mat-card-subtitle>

                <mat-card-subtitle class="d-flex align-items-center">
                  <span>
                    <strong>Public: </strong>
                  </span>
                  <span class="ms-1">
                  <i class="fs-20px text-success fa-solid fa-check"></i>
                    <!-- <i class="fs-20px text-danger fa-solid fa-xmark"></i> -->
                  </span>
                </mat-card-subtitle>
              </mat-card-content>
              <mat-chip-list aria-label="Dog selection">
                <mat-chip color="primary" selected>
                  Programing
                </mat-chip>
              </mat-chip-list>
            </div>
          </mat-card>
          </div>

          <div class="col-12 col-md-6 col-xl-3">
            <mat-card class="cursor-pointer" role="button" matRipple>
              <img src="https://files.fullstack.edu.vn/f8-prod/courses/7.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Nhập môn lập trình C++</h5>
                <mat-card-content>
                  <mat-card-subtitle>
                    <strong>Exam Time: </strong>
                    <small class="text-muted">3 mins</small>
                  </mat-card-subtitle>

                  <mat-card-subtitle>
                    <strong>Created by: </strong>
                    <small class="text-muted">Truong</small>
                  </mat-card-subtitle>

                  <mat-card-subtitle class="d-flex align-items-center">
                    <span>
                      <strong>Public: </strong>
                    </span>
                    <span class="ms-1">
                    <i class="fs-20px text-success fa-solid fa-check"></i>
                      <!-- <i class="fs-20px text-danger fa-solid fa-xmark"></i> -->
                    </span>
                  </mat-card-subtitle>
                </mat-card-content>
                <mat-chip-list aria-label="Dog selection">
                  <mat-chip color="primary" selected>
                    Programing
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-card>
            </div>

            <div class="col-12 col-md-6 col-xl-3">
              <mat-card class="cursor-pointer" role="button" matRipple>
                <img src="https://files.fullstack.edu.vn/f8-prod/courses/7.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Nhập môn lập trình C++</h5>
                  <mat-card-content>
                    <mat-card-subtitle>
                      <strong>Exam Time: </strong>
                      <small class="text-muted">3 mins</small>
                    </mat-card-subtitle>

                    <mat-card-subtitle>
                      <strong>Created by: </strong>
                      <small class="text-muted">Truong</small>
                    </mat-card-subtitle>

                    <mat-card-subtitle class="d-flex align-items-center">
                      <span>
                        <strong>Public: </strong>
                      </span>
                      <span class="ms-1">
                      <i class="fs-20px text-success fa-solid fa-check"></i>
                        <!-- <i class="fs-20px text-danger fa-solid fa-xmark"></i> -->
                      </span>
                    </mat-card-subtitle>
                  </mat-card-content>
                  <mat-chip-list aria-label="Dog selection">
                    <mat-chip color="primary" selected>
                      Programing
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </mat-card>
              </div>
    </div>
    <mat-paginator class="shadow-sm mt-4 bg-body rounded" [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>
</div>

<app-quizz-edit *ngIf="openFormCreateQuizz"
(displayForm)="backFromCreateForm($event)"
></app-quizz-edit>
