<div class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="change-lang-login">
        <app-select-language></app-select-language>
      </div>
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{ 'login.TitleRegister' | translate }}</h1>
                                </div>
                                <form class="user" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                    <mat-form-field class="example-full-width" appearance="legacy">
                                      <mat-label>{{ 'login.FullName' | translate }}</mat-label>
                                      <input type="text" matInput formControlName="fullName"
                                             placeholder="{{ 'login.EnterFullName' | translate }}">
                                      <mat-error *ngIf="fullName?.errors && fullName?.touched"
                                      [innerHtml]="'login.FullNameError' | translate"
                                      >
                                      </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="legacy">
                                      <mat-label>Email</mat-label>
                                      <input type="email" matInput formControlName="emailLogin"
                                             placeholder="Enter your mail">
                                      <mat-error *ngIf="emailLogin?.errors && emailLogin?.touched"
                                      [innerHtml]="'login.EmailErrorRequire' | translate"
                                      >
                                      </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="legacy">
                                      <mat-label>{{ 'login.Password' | translate }}</mat-label>
                                      <input type="password" matInput formControlName="password"
                                             placeholder="Enter Your Password">
                                      <mat-error *ngIf="password?.errors && password?.touched">
                                        {{ 'login.PasswordError' | translate }}
                                      </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="legacy">
                                      <mat-label>{{ 'login.PhoneNumber' | translate }}</mat-label>
                                      <input type="tel" matInput formControlName="phoneNumber"
                                             placeholder="{{ 'login.EnterPhoneNumber' | translate }}">
                                    </mat-form-field>
                                      <div class="example-button-row">
                                        <button mat-raised-button color="primary" [disabled]="registerForm.invalid">{{ 'login.Register' | translate }}</button>
                                      </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" routerLink="/login">{{ 'login.BackLogin' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
