/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~assets/scss/sb-admin-2.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Segoe UI, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

//overwrite button material
.mat-button-focus-overlay {
background-color: transparent !important;
}

.border-primary{
  border-color:var(--bs-purple) !important;
}

//custom mat color
.mat-success {
  background-color: var(--bs-green);
  color: #fff;
}

.mat-secondary {
  background-color: var(--bs-gray-600);
  color: #fff;
}

.mat-gray200 {
  background-color: var(--bs-gray-200);
}

//font size custom
.fs-11px{
  font-size: 11px !important;
}

.fs-12px{
  font-size: 12px !important;
}

.fs-14px{
  font-size: 14px !important;
}
