/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --primary: #673ab7;
  --white: #fff;
  --gray-100: #f8f9fc ;
  --gray-200: #eaecf4 ;
  --gray-300: #dddfeb ;
  --gray-400: #d1d3e2 ;
  --gray-500: #b7b9cc ;
  --gray-600: #858796 ;
  --gray-700: #6e707e ;
  --gray-800: #5a5c69 ;
  --gray-900: #3a3b45 ;
  --black: #000 ;

  --blue: #4e73df ;
  --indigo: #6610f2 ;
  --purple: #6f42c1 ;
  --pink: #e83e8c ;
  --red: #e74a3b ;
  --orange: #fd7e14 ;
  --yellow: #f6c23e ;
  --green: #1cc88a ;
  --teal: #20c9a6 ;
  --cyan: #36b9cc ;
  --border-color: darken($gray-200, 2%);
}

*{
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}

.mat-button-focus-overlay {
  background-color: transparent !important;
  }
