<div class="container">
  <div class="calendar">
    <div class="calendar-header">
      <div class="calendar-header-group">
          <div class="calendar-header-item calendar-header-item-back-today" (click)="backToCurrentDay()">
            Today
          </div>
          <div class="calendar-header-item calendar-header-item-icon-lr" (click)="previousMonth()">
            <i class="fa-solid fa-angle-left "></i>
          </div>
          <div class="calendar-header-item calendar-header-item-icon-lr" (click)="nextMonth()">
              <i class="fa-solid fa-angle-right"></i>
          </div>
          <div class="calendar-header-item calendar-header-item-icon-year-month">
            {{currentMonthSelectName}} {{currentYearIsSelecting}}
        </div>
      </div>

      <div class="calendar-header-group">
        <div class="calendar-header-item calendar-header-item-select-option">
          <span class="calendar-header-item-option">Month</span>
          <div class="calendar-header-item-option-icon">
            <i class="fa-solid fa-sort-down "></i>
          </div>
        </div>
        <div class="calendar-header-item">
          <button type="button" class="btn btn-primary">
            Add event
          </button>
        </div>
    </div>

  </div>

  <table class="table table-borderless calendar-body">
    <thead>
      <tr>
        <th colspan="1" class="calendar-title">Sunday</th>
        <th colspan="1" class="calendar-title">Monday</th>
        <th colspan="1" class="calendar-title">Tuesday</th>
        <th colspan="1" class="calendar-title">Wednesday</th>
        <th colspan="1" class="calendar-title">Thursday</th>
        <th colspan="1" class="calendar-title">Friday</th>
        <th colspan="1" class="calendar-title">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="1" class="calendar-day" *ngFor="let item of counter(week1, 'week1')">
        <div [ngClass]="(item === today && currentMonth === anotherMonth && currentYear === anotherYear) ? 'day-current' : '' ">
          {{item}}
        </div>
        </td>
      </tr>
      <tr>
        <td colspan="1" class="calendar-day" *ngFor="let item of counter(week2, 'week2')">
          <div [ngClass]="(item === today && currentMonth === anotherMonth && currentYear === anotherYear) ? 'day-current' : '' ">
            {{item}}
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="1" class="calendar-day"
        *ngFor="let item of counter(week3, 'week3')">
        <div [ngClass]="(item === today && currentMonth === anotherMonth && currentYear === anotherYear) ? 'day-current' : '' ">
          {{item}}
        </div>
        </td>
      </tr>
      <tr>
        <td colspan="1" class="calendar-day"
        *ngFor="let item of counter(week4, 'week4')">
        <div [ngClass]="(item === today && currentMonth === anotherMonth && currentYear === anotherYear) ? 'day-current' : '' ">
          {{item}}
        </div>
        </td>
      </tr>
      <tr>
        <td colspan="1" class="calendar-day"
        *ngFor="let item of counter(week5, 'week5')">
        <div [ngClass]="(item === today && currentMonth === anotherMonth && currentYear === anotherYear) ? 'day-current' : '' ">
          {{item}}
        </div>
        </td>
      </tr>
      <tr>
        <td colspan="1" class="calendar-day"
        *ngFor="let item of counter(week6, 'week6')">
        <div [ngClass]="(item === today && currentMonth === anotherMonth && currentYear === anotherYear) ? 'day-current' : '' ">
          {{item}}
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  </div>
