<!-- sidebar for pc -->
<div class="side-bar-dp">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg" [style.width]="closeSidebar ? '90px' : '280px'" style="height:100%;">
    <div href="#" class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none">
      <div class="sidebar-header">
        <span class="fs-6" [style.display]="closeSidebar ? 'none' : 'block' ">Manage Personal</span>
        <div class="sidebar-item" [ngStyle]="{'margin-left':closeSidebar ? '2px' : '60px'}">
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-earth-americas" ></i>
              <strong style="margin-left:6px;">
              </strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
              <li *ngFor="let item of languages"><div class="dropdown-item" (click)="changeLang(item)">
                {{item}}
              </div>
            </li>
            </ul>
          </div>
          <i class="fa-solid fa-bars sidebar-header-menu" (click)="toggleSideBar()"></i>
        </div>
      </div>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" >
        <a routerLink="/admin" class="nav-link text-white"  aria-current="page" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
          <i class="fa-solid fa-house icon"></i>
          <span *ngIf="!closeSidebar">{{ 'home.Home' | translate }}</span>
        </a>
      </li>
      <li class="nav-item" >
        <a routerLink="/admin/calendar" class="nav-link text-white" routerLinkActive="active">
          <i class="fa-solid fa-calendar icon"></i>
          <span *ngIf="!closeSidebar">{{ 'home.Calendar' | translate }}</span>
        </a>
      </li>

      <li class="nav-item" >
        <a routerLink="/admin/manageUser" class="nav-link text-white" routerLinkActive="active">
          <i class="fa-solid fa-users icon"></i>
          <span *ngIf="!closeSidebar">{{ 'home.ManageUser' | translate }}</span>
        </a>
      </li>
    </ul>
    <hr>
    <div class="footer-sidebar">
      <div><i class="fa-solid fa-user" style="margin-right: 5px;"></i>
        <span *ngIf="!closeSidebar">{{ 'home.UserOnline' | translate }}</span>
        {{totalOnlineUser}}</div>
    </div>

  </div>
</div>


<!-- sidebar for tablet -->
<div class="sidebar-tablet">
  <div class="sidebar-tablet-header-menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
    <mat-icon>subject</mat-icon>
  </div>
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <div class="sidebar-header text-white">
        <span class="fs-6">Manage Personal</span>
        <div class="dropdown translate-tablet">
          <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-earth-americas" ></i>
            <strong style="margin-left:6px;">
            </strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li *ngFor="let item of languages"><div class="dropdown-item" (click)="changeLang(item)">
              {{item}}
            </div>
          </li>
          </ul>
        </div>
      </div>
      <div data-bs-dismiss="offcanvas" class="text-white" aria-label="Close">
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <div class="offcanvas-body">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg"  style="height:100%;">
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item" >
            <a routerLink="/admin" class="nav-link text-white"  aria-current="page" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
              <i class="fa-solid fa-house icon"></i>
              <span *ngIf="!closeSidebar">{{ 'home.Home' | translate }}</span>
            </a>
          </li>
          <li class="nav-item" >
            <a routerLink="/admin/calendar" class="nav-link text-white" routerLinkActive="active">
              <i class="fa-solid fa-calendar icon"></i>
              <span *ngIf="!closeSidebar">{{ 'home.Calendar' | translate }}</span>
            </a>
          </li>
          <li class="nav-item" >
            <a routerLink="/admin/manageUser" class="nav-link text-white" routerLinkActive="active">
              <i class="fa-solid fa-users icon"></i>
              <span *ngIf="!closeSidebar">{{ 'home.ManageUser' | translate }}</span>
            </a>
          </li>
        </ul>
        <hr>
        <div class="footer-sidebar">
          <div><i class="fa-solid fa-user" style="margin-right: 5px;"></i>
            <span>{{ 'home.UserOnline' | translate }}</span>
            {{totalOnlineUser}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

