<ul class="navbar-nav bg-gradient-primary justify-content-between sidebar sidebar-dark accordion" id="accordionSidebar">
  <div class="d-flex flex-column ">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Admin Side <sup>@</sup></div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item" routerLink="/admin"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <a  class="nav-link">
      <i class="fa-solid fa-calendar icon"></i>
      <span>{{ 'home.Calendar' | translate }}</span>
    </a>
    </li>
    <li class="nav-item" routerLink="/admin/manageUser"
    routerLinkActive="active">
    <a  class="nav-link">
      <i class="fa-solid fa-users icon"></i>
      <span *ngIf="!closeSidebar">{{ 'home.ManageUser' | translate }}</span>
    </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
      <a class="nav-link collapsed" href="#collapseUtilities" data-bs-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>{{ 'home.QuizzManage' | translate }}</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar">
          <div class="bg-gradient-primary py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{ 'home.Quizz' | translate }}</h6>
              <a class="collapse-item"
              routerLink="/admin/quizzTopic"
              routerLinkActive="active">{{ 'home.QuizzTopic' | translate }}</a>
              <a class="collapse-item"
              routerLink="/admin/quizzManage"
              routerLinkActive="active">{{ 'home.QuizzCreate' | translate }}</a>
          </div>
      </div>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"
      (click)="toggleSidebar()"></button>
      </div>
    </div>

  <div class="online-user">
    <i class="fa-solid fa-user"></i>
    <span style="margin-left: 5px;">{{ 'home.UserOnline' | translate }}</span>
    {{totalOnlineUser}}</div>
</ul>

