<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Add an event</h5>
  </div>
  <div class="modal-body">
    <form class="example-form">
      <mat-form-field class="add-event-full-width" appearance="outline">
        <mat-label>Summary</mat-label>
        <input matInput placeholder="Summary">
      </mat-form-field>

      <mat-form-field class="add-event-full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>

      <div class="add-event-date-picker">
        <mat-checkbox style="margin-bottom:10px ;" color="primary">All day event</mat-checkbox>
        <div>
          <mat-form-field class="add-event-full-width" appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="add-event-full-width" appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button mat-raised-button color="primary" style="margin-right: 12px; min-width: 70px;">Add</button>
    <button type="button" mat-raised-button color="warn"
    >Cancel</button>
  </div>
</div>
