<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Add an event</h5>
    <mat-icon style="cursor: pointer;" (click)="closeModal()">highlight_off</mat-icon>
  </div>
  <div class="modal-body">
    <form class="example-form" [formGroup]="addEventForm">

      <mat-form-field class="add-event-full-width" appearance="outline">
        <mat-label>{{ 'calendar.Summary' | translate }}</mat-label>
        <input matInput placeholder="Summary" formControlName="title">
        <mat-error *ngIf="title?.errors" [innerHtml]="'calendar.SummaryValidate' | translate">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="add-event-full-width" appearance="outline">
        <mat-label>{{ 'calendar.Description' | translate }}</mat-label>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error *ngIf="description?.errors" [innerHtml]="'calendar.DescriptionValidate' | translate">
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width:130px">
        <mat-label>{{ 'calendar.Color' | translate }}</mat-label>
        <mat-select formControlName="color">
          <mat-select-trigger >
            <mat-icon [style.color]="currentColor">brightness_1</mat-icon>
          </mat-select-trigger>
          <mat-option
          (click)="changeColor(item)"
          [value]="item"
          *ngFor="let item of colorInit" >
            <mat-icon [style.color]="item">brightness_1</mat-icon>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="color?.errors">{{ 'calendar.ColorValidate' | translate }}</mat-error>
      </mat-form-field>
      <div class="add-event-date-picker">
          <mat-form-field class="add-event-full-width">
            <input matInput [ngxMatDatetimePicker]="startDate" placeholder="{{ 'calendar.StartDate' | translate }}"
       formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="$any(startDate)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #startDate [showSpinners]="true">
            </ngx-mat-datetime-picker>
         </mat-form-field>
          <mat-form-field class="add-event-full-width" >
            <input matInput [ngxMatDatetimePicker]="endDate" placeholder="{{ 'calendar.EndDate' | translate }}"
       formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="$any(endDate)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #endDate>
            </ngx-mat-datetime-picker>
         </mat-form-field>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button *ngIf="isEdit; else addTemplate" mat-raised-button color="primary" [disabled]="addEventForm.invalid"
    (click)="editEvent()"
    style="margin-right: 12px; min-width: 70px;">
    {{ 'calendar.UpdateEvent' | translate }}</button>
    <ng-template #addTemplate>
      <button mat-raised-button color="primary" [disabled]="addEventForm.invalid"
    (click)="addEvent()"
    style="margin-right: 12px; min-width: 70px;">
    {{ 'calendar.AddEvent' | translate }}</button>
    </ng-template>
    <button *ngIf="isEdit; else cancelTemplate" mat-raised-button color="warn" [disabled]="addEventForm.invalid"
    (click)="removeEvent(initialEvent.id)"
    style="margin-right: 12px; min-width: 70px;">
    {{ 'calendar.RemoveEvent' | translate }}</button>
    <ng-template #cancelTemplate>
      <button type="button" mat-raised-button color="warn"
      (click)="closeModal()"
      >{{ 'calendar.Cancel' | translate }}</button>
    </ng-template>
  </div>
</div>
