
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.card-header:first-child {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.manager-avatar {
  font-size: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.badge {
  font-size: 0.76em !important;
}
