<div class="card shadow m-3">
  <div class="card-header py-3">
      <div class="m-0 fs-5 fw-normal text text-dark">{{'manageuser.Title' | translate}}</div>
  </div>
  <div class="card-body">
    <!-- <div>None data</div> -->
      <div class="table-responsive">
          <table class="table table-hover" width="100%">
              <thead>
                  <tr>
                      <th>{{'manageuser.NO' | translate}}</th>
                      <th>{{'manageuser.FullName' | translate}}</th>
                      <th>{{'manageuser.UserName' | translate}}</th>
                      <th>{{'manageuser.Role' | translate}}</th>
                      <th>{{'manageuser.Email' | translate}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr style="line-height: 40px !important;"
                  *ngFor="let item of users; let i = index" role="button"
                  (click)="editUser(item)"
                  >
                    <td>{{pageSize * pageIndex + i + 1}}</td>
                      <td>
                      <img class="manager-avatar me-1" src="../../../../assets/image/errorAvatar.png" alt="">
                        {{item.fullName}}
                      </td>
                      <td>{{item.userName}}</td>
                      <td>
                        <span class="badge rounded-pill bg-success">{{item.role}}</span>
                      </td>
                      <td>{{item.email}}</td>
                  </tr>
              </tbody>
          </table>
          <mat-paginator
          [length]="totalItem"
          [pageSizeOptions]="pageTotalOption"
          (page)="changePageEvent($event)"
          aria-label="Select page">
          </mat-paginator>
      </div>
  </div>

</div>


