  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" [style.width]="closeSidebar ? '90px' : '280px' " style="min-height:100vh;">
    <div href="#" class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none">
      <div class="sidebar-header">
        <span class="fs-4" [style.display]="closeSidebar ? 'none' : 'block' ">App Personal</span>
        <i class="fa-solid fa-bars sidebar-header-menu" (click)="toggleSideBar()"></i>
      </div>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" (click)="selectOption('Home')">
        <a href="#" [ngClass]="optionIsSelecting === optionConst.HOME ? 'nav-link active' : 'nav-link text-white'" aria-current="page">
          <i class="fa-solid fa-house icon"></i>
          {{closeSidebar ? '' : 'Home'}}
        </a>
      </li>
      <li class="nav-item" (click)="selectOption('Calendar')">
        <a routerLink="/calendar" [ngClass]="optionIsSelecting === optionConst.CALENDAR ? 'nav-link active' : 'nav-link text-white'">
          <i class="fa-solid fa-calendar icon"></i>
          {{closeSidebar ? '' : 'Calendar'}}
        </a>
      </li>
      <li class="nav-item" (click)="selectOption('Group Chat')">
        <a href="#" [ngClass]="optionIsSelecting === optionConst.GROUP_CHAT ? 'nav-link active' : 'nav-link text-white'">
          <i class="fa-solid fa-comment icon"></i>
          {{closeSidebar ? '' : 'Group Chat'}}
        </a>
      </li>
      <li class="nav-item" (click)="selectOption('Manage for Admin')">
        <a href="#"[ngClass]="optionIsSelecting === optionConst.MANAGE_FOR_ADMIN ? 'nav-link active' : 'nav-link text-white'">
          <i class="fa-solid fa-list-check icon"></i>
          {{closeSidebar ? '' : 'Manage for Admin'}}
        </a>
      </li>
      <li class="nav-item" (click)="selectOption('About me')">
        <a href="#" [ngClass]="optionIsSelecting === optionConst.ABOUT_ME ? 'nav-link active' : 'nav-link text-white'">
          <i class="fa-solid fa-circle-info icon"></i>
          {{closeSidebar ? '' : 'About me'}}
        </a>
      </li>
    </ul>

    <hr>
    <!-- <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div> -->
  </div>


