.bg-gradient-primary {
  background: #5C258D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  height: 100%;

  .text-gray-900 {
    color: #3a3b45!important;
  }

  a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
  }

  .example-full-width {
    width: 100%;
  }

  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;

    .mat-raised-button {
      min-width: 89px;
  }
  }
  .bg-login-image{
    background:url(../../../assets/image/loginbg.png);
    background-position: center;
    background-size: contain;
  }

  .small{
    font-size: 15px !important;
  }
}


.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0,0,0,.04);
}

.change-lang-login{
  padding: 20px 0;
  justify-content: end;
  display: flex;
}
