<div class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="change-lang-login">
        <app-select-language></app-select-language>
      </div>
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{ 'login.Title' | translate }}</h1>
                                </div>
                                <form class="user" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <mat-form-field class="example-full-width" appearance="legacy">
                                      <mat-label>{{ 'login.EmailUserName' | translate }}</mat-label>
                                      <input type="email" matInput formControlName="emailLogin"
                                             placeholder="{{ 'login.EnterEmail' | translate }}">
                                        <mat-error *ngIf="emailLogin?.errors && emailLogin?.touched"
                                        [innerHtml]="'login.EmailUserNameErrorRequire' | translate"
                                        >
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width" appearance="legacy">
                                      <mat-label>{{ 'login.Password' | translate }}</mat-label>
                                      <input type="password" matInput formControlName="password"
                                             placeholder="{{ 'login.EnterPassword' | translate }}">
                                      <mat-error *ngIf="password?.errors && password?.touched">
                                        {{ 'login.PasswordError' | translate }}
                                      </mat-error>
                                    </mat-form-field>
                                      <div class="example-button-row">
                                        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">{{ 'login.Login' | translate }}</button>
                                      </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" routerLink="/register">{{ 'login.CreateAccount' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

