<div class="header-search">
  <!-- notification -->
  <div class="dropdown">
    <div class="bell-notification position-relative"
    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
    >
      <i class="fa-solid fa-bell"></i>
      <span *ngIf="totalNewNotify > 0" class="position-absolute translate-middle badge bg-danger">
        {{totalNewNotify}}
        <span class="visually-hidden">unread messages</span>
      </span>
    </div>

    <div class="notification dropdown-menu"
    aria-labelledby="dropdownMenuButton1"
    (click)="$event.stopPropagation()"
    >
      <div class="notification-header">
        {{ 'header.AlertTitle' | translate }}
      </div>

      <div class="notification-body">
          <ul class="notification-body-list" *ngIf="notifications.length > 0; else nonData">
              <li [ngClass]="!notify.seen ? 'seen' : ''" class="notification-body-item"
              *ngFor="let notify of notifications"
              >
              <div class="notification-body-item-body" (click)="seenNotify(notify)">
                <div class="notification-body-item-time">
                  {{notify.createdAt | date}}
              </div>
              <div class="notification-body-item-content">
                  {{notify.content}}
              </div>
              </div>
                <div (click)="removeNotify(notify.id)">
                  <mat-icon class="delete-notification">close</mat-icon>
                </div>
              </li>

          </ul>
          <ng-template  #nonData>
            <div class="notification-nondata">
              {{ 'header.NonData' | translate }}
            </div>
          </ng-template>
      </div>

      <div class="notification-footer">
        {{ 'header.ShowAllAlert' | translate }}
      </div>
  </div>
  </div>

  <!-- profile -->
    <div class="dropdown header-profile">
      <div class="d-flex align-items-center text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="header-name-profile">{{userName}}</span>
        <img class="header-profile-image " src="../../../assets//image/errorAvatar.png" alt="error avatar">
      </div>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><div class="dropdown-item">
          {{ 'header.Profile' | translate }}
        </div>
      </li>
      <li><div class="dropdown-item" (click)="logOut()">
        {{ 'header.LogOut' | translate }}
      </div>
    </li>
      </ul>
    </div>

</div>


