//overwrite css mat-form field

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #e0e0e0;
}


.sidebar-header-menu{
  font-size: 25px;
  cursor: pointer;
  align-self: center;
  display: none;
  margin: 0 20px;
}

.header-search{
  margin: 12px 12px;
}

@media (max-width: 1370px){
  .sidebar-header-menu{
    display: block !important;
  }

  .header-search{
    margin: 0 30px;
  }
}

.active{
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.nav-item{
  margin: 8px 0;
}
