//overwrite css mat-form field

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #e0e0e0;
}


.sidebar-header-menu{
  font-size: 25px;
  cursor: pointer;
  align-self: center;
  display: none;
  margin: 0 20px;
}

.header-search{
  padding: 12px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .bell-notification{
    color: #d1d3e2;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    padding: 6px;
    font-size: 20px;

    .badge{
      font-size: 8px !important;
      top: 30%;
      left: 93%;
    }

    &:hover{
      color: #b7b9cc;
    }
  }




}

@media (max-width: 1370px){
  .sidebar-header-menu{
    display: block !important;
  }

  .header-search{
    margin: 0 30px;
  }
}


.notification{
  width: 312px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;

  .notification-header{
    border-radius: 3px;
    padding-left: 23px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    height: 40px;
    background-color: var(--primary);
  }

  .notification-body-list{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .notification-body-item{
    cursor: pointer;
    height: 88px;
    padding: 12px 20px 10px 20px;
    border-bottom: 1px solid #e3e6f0;
    transition: .2s;
    font-weight: 400;

    &:hover{
      background-color: #eaecf4;
    }

    &.seen{
      font-weight: 900 !important;
    }
  }

  .notification-body{
    max-height: 300px;
    width: 310px;
    overflow: auto;
  }

  .notification-body-item-time{
    font-size: 10px;
    color: var(--gray-500);
  }

  .notification-body-item-content{

    width: 280px;
    font-size: 13px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .notification-footer{
    cursor: pointer;
    text-align: center;
    padding: 12px 12px;
    font-size: 13px;
    color: #b7b9cc;

    &:hover{
      background-color: #eaecf4;
    }
  }
}

.dropdown-menu {
  padding: 0;
}

.header-profile{
  margin-left: 20px;
  border-left: 1px solid #e3e6f0;
  padding: 0 12px;

  .header-name-profile{
    margin-right: 9px;
    font-size: 12px;
    color: var(--gray-500);
  }

  .header-profile-image{
    cursor: pointer;
    font-size: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}



.dropdown-item{
  cursor: pointer;
}


