<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button mat-icon-button color="primary" class="d-md-none" id="sidebarToggleTop" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Topbar Search -->
  <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link icon-header dropdown-toggle" id="alertsDropdown" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <span *ngIf="totalNewNotify > 0" class="badge bg-danger badge-counter">{{totalNewNotify}}</span>
          </a>
          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in notifications-modify"
          (click)="$event.stopPropagation()"
              aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                {{ 'header.AlertTitle' | translate }}
              </h6>
              <a class="dropdown-item d-flex align-items-center" *ngFor="let notify of notifications">
                  <div (click)="seenNotify(notify)">
                      <div class="small fs-12 text-gray-500">{{notify.createdAt | date}}</div>
                      <span class="fs-12" [ngClass]="notify.seen ? '' : 'fw-bold'">{{notify.content}}</span>
                  </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500">{{ 'header.ShowAllAlert' | translate }}</a>
          </div>
      </li>
      <li class="nav-item mx-1" >
        <div class="nav-link">
          <app-select-language></app-select-language>
        </div>
      </li>
      <div class="topbar-divider d-none d-sm-block"></div>

      <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="me-2 d-none d-lg-inline text-gray-600 small">{{userName}}</span>
              <img class="img-profile rounded-circle"
                  src="../../../assets//image/errorAvatar.png">
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="userDropdown">
              <a class="dropdown-item" >
                  <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
                  {{ 'header.Profile' | translate }}
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logOut()" data-bs-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
                  {{ 'header.LogOut' | translate }}
              </a>
          </div>
      </li>
  </ul>
</nav>
